<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pet.nombre %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @pet.raza %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @pet.nacimiento %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
